.nav-bar{
  padding:1em;
}

.nav-bar ul{
    list-style-type: none;
}

.nav-bar li{
    /*display: inline-block;*/
}

.nav-bar li, .nav-bar a{
    text-decoration:none;
}

.nav-bar a{
    color:white;
    font-size: 20px;
}

.what{
    float:left;
}
.new{
    float:right;
    margin-right:40px;
}
